#titlelink1{
    color: white;
    text-decoration: none;
}
#titlelink3{
    color: white;
    text-decoration: none;
}
#titlelink2{
    color: white;
    text-decoration: none;
}
.firstpagecontent{
    margin-left: 5%;
    margin-top: 10%;
}
