.booking_form{
    font-size: 150%;
    color:coral;
    margin-left: 20%;
    margin-right: 20%;
}
.booking_form input{
    font-size: 80%;
    margin-bottom: 1%;
}
.content{
    padding-left: 10%;
    margin-top: 10%;
}
#bookingimg{
    width: 20%;
}
#bookingsubmit{
    margin-top: 5%;
    margin-left: 40%;
}
#from{
    margin-left: 5%;
}